[submodule "src"]
	path = src
	url = https://github.com/vingtcent123/ouvretaferme.git
[submodule "doc"]
	path = doc
	url = git@github.com:ouvretaferme/ouvretaferme.wiki.git
	branch = master
[submodule "phpstorm-plugin"]
	path = phpstorm-plugin
	url = git@github.com:ouvretaferme/plugin-phpstorm.git
[submodule "api-doc"]
	path = api-doc
	url = git@github.com:ouvretaferme/api-doc.git
